<div class="modal-dialog modal-sm" style=''>
    <div class="modal-content">

        <div class="modal-body">
            <ul id="tree" class="hide">
                <li><a href="#">books</a>
                    <ul>
                        <li>1222
                            <ul>
                                <li>public
                                    <ul>
                                        <li>javscripts</li>
                                        <li>css</li>
                                        <li>templates</li>
                                    </ul>
                                </li>
                                <li>Employee Maint.</li>
                            </ul>
                        </li>
                        <li>Employees
                            <ul>
                                <li>Reports
                                    <ul>
                                        <li>Report1</li>
                                        <li>Report2</li>
                                        <li>Report3</li>
                                    </ul>
                                </li>
                                <li>Employee Maint.</li>
                            </ul>
                        </li>
                        <li>Human Resources</li>
                    </ul>
                </li>
                <li><a href="#">backup</a>
                    <ul>
                        <li>Company Maintenance</li>
                        <li>Employees
                            <ul>
                                <li>Reports
                                    <ul>
                                        <li>Report1</li>
                                        <li>Report2</li>
                                        <li>Report3</li>
                                    </ul>
                                </li>
                                <li>Employee Maint.</li>
                            </ul>
                        </li>
                        <li>Human Resources</li>
                    </ul>
                </li>
            </ul>
            {{{tree dirs 'fa fa-folder'}}}
        </div>

    </div>
</div>