<div class="container">
  <div class="col-sm-6">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    <a class="navbar-brand" href="#" style="color:white;font-family: cursive;font-size: xx-large;"><img src='public/images/icon.png' width='40px' style="margin-top:-10px;display:inline"/> <span>FileZapp</span></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav">
      <li class="active pageaction"  data-action='ftpclient'><a   target="_blank">FTP Client</a></li>
      <li class='pageaction' data-action='ftpsync'><a  target="_blank">FTP Sync</a></li>
    </ul>
  </div>
  </div>
  <div class="col-sm-6"></div>
</div>